* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

$bg-color: blue;
$primary-color: red;

@mixin rounded {
	border-radius: 50px;
	border: 10px solid #000;
}

h1 {
	@include rounded;
	font-size: 200px;
	color: $bg-color;
}

h2 {
	color: $primary-color;
}

h3 {
	font-size: 110px;
}

img {
	width: 100%;
}

#testy {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: auto;
}
