* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

$bg-color: blue;
$primary-color: red;

@mixin rounded {
	border-radius: 50px;
	border: 10px solid #000;
}

h1 {
	@include rounded;
	font-size: 200px;
	color: $bg-color;
}

h2 {
	color: $primary-color;
}

h3 {
	font-size: 110px;
}

/* CSS variables. Not needed for the effect to work. */
:root {
	--base: #f7392b;
	--bg-blend: multiply;
	--blur: 0px;
	--fg-blend: lighten;
	--foreground: #16006f;
	--opacity: 1;
	--spacing: 1%;
}

.img-wrapper {
	background-color: var(--base);
	display: flex;
	flex: 1 1 100%;
	height: 100%;
	overflow: hidden;
	padding: var(--spacing);
	position: relative;
}

.img-wrapper img {
	filter: grayscale(100%) contrast(1) blur(var(--blur));
	flex: 1 0 100%;
	height: 100%;
	max-width: 100%;
	mix-blend-mode: var(--bg-blend);
	object-fit: cover;
	opacity: var(--opacity);
	position: relative;
	width: 100%;
}

img {
	width: 100%;
}

#testy {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: auto;
}
